<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BleSpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB63AA591E2DB43C00376D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB63AA721E2DB43E00376D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB63AA7D1E2DB43E00376D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
